.sidebar li{
    display: flex;
    text-decoration: none;
    list-style: none;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-right:1rem;
    margin-left:1rem;
    align-items: center;
}
.sidebar ul{
    margin-top:3rem;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}
.sidebar li:hover{
    background-color: rgba(190, 192, 199, 0.726);
    cursor: pointer;
}
.sidebar-nav-link{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    font-family:'inter', 'Roboto', 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sidebar-nav-active{
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: #82bff18c;
    color: #0d30ce;
    font-family:'Inter', 'Roboto', 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#settings{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin-top: auto;
    padding: 1rem 1rem 1rem 1rem;
    font-family:'inter', 'Roboto', 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#settings:hover{
    padding: 1rem 1rem 1rem 1rem;
    background-color: #82bff18c;
    color: #0d30ce;
    cursor: pointer;
}
#settingsSpan{
    padding-right: 0;
}
.sidebar{
    height: 100%;
    transition: width 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}
.sidebar.open {
    width: 25.5rem;
}
.sidebar.closed {
    width: 6rem;
}
.sidebar-header{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   border-bottom: 1px solid #dadada;
   padding: 1rem;
   box-sizing: border-box;
}
.sidebar-header img {
    padding: 0;
    height: 4rem;
    width: auto;
    border-radius: 10%;
    margin-right: 0;
}
.sidebar-header button {
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
}

.sidebar.closed .sidebar-header {
    justify-content: center;
}

.sidebar.closed .sidebar-nav-link,
.sidebar.closed .sidebar-nav-active,
.sidebar.closed #settings {
    justify-content: center;
}
